@model List<CarsWebLibrary.Car>

@{
    ViewData["Title"] = "All my Cars";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Cars", new { id=item.ID})">Details</a> |
                    @*<a href="~/cars/details/@item.ID">Details</a>|*@
                    <a href="~/cars/edit/@item.ID">Edit</a> |
                    <a href="~/cars/delete/@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
